---
layout: default
---

<section id="content">
        <div class="main">
            <div class="container_16">
                <div class="grid_16">
                    <div class="wrapper bot-pad margin-bot">                        
                        <div class="alpha grid_11 suffix_1">
                            <h3 class="indent-bot">{{ page.title }}</h3>
                            <div class="post">
                            {{ content }}	
                        	</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


